.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titleBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 1% 0;
}

.eventsGrid {
    display: grid;
    grid-template-columns: repeat(5, minmax(0px, 1fr));
    gap: 2rem;
    transition: ease-in-out;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.buttonGroup > button {
    margin: 0 1%;
}

.eventImage {
    width: 80%;
    margin: 1rem 10%;
    overflow: hidden;
}

.eventTitle {
    font-weight: 100;
    font-size: 2rem;
}

.eventDesc {
    height: 10rem;
    overflow: auto;
}

.eventDesc::-webkit-scrollbar {
    width: 0.5rem;
    height: 30%;
    background-color: #efefef;
}

.eventDesc::-webkit-scrollbar-thumb {
    background-color: rgb(187, 187, 190);
    border-radius: 10rem;
}

.titleField {
    width: 50%;
}

.textField {
    width: 100%;
}

.inputArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.inputArea1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
}

@media (max-width: 1800px) {
    .eventsGrid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (max-width: 1450px) {
    .eventsGrid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 1080px) {
    .eventsGrid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 725px) {
    .eventsGrid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .titleBar {
        flex-direction: column;
    }
}

@media (max-width: 950px) {
    .inputArea {
        flex-direction: column;
        width: 80%;
    }
    .titleField {
        width: 80%;
    }
    .inputArea1 {
        width: 100%;
    }
    .textField {
        width: 100%;
    }
}
