.why {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.join {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 3rem;
}

.headers {
    line-height: 1.3;
}
