.upload {
    width: 50%;
    margin: 3rem 0;
}

.sectionHeader {
    text-align: left;
    justify-self: left;
    align-self: left;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: ease-in-out;
    width: 50%;
    transition: ease-in-out;
    animation-name: slide-in-right;
    animation-duration: 0.5s;
}

.inputField {
    width: 100%;
}

.logout {
    margin-top: 1%;
    width: 50%;
}
