.container {
    width: 34%;
    min-height: 300px;
    padding: 1em;
    margin: 0.5em;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.code {
    font-size: 1.2em;
    font-family: monospace;
    border-radius: 0.2em;
}

.editorToolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}

.toolbarButton {
    border-radius: 0;
    width: 100%;
    font-weight: 400;
}

@media (max-width: 950px) {
    .container {
        width: 100%;
        margin: 0;
    }
}

.selected {
    filter: brightness(0.8);
}
