.input {
    position: relative;
    --size-bezel: 0.5rem;
    --size-radius: 4px;
}

.inputContainer {
    padding: 0.5rem 0;
}

.inputLabel {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc(var(--size-bezel) * 0.5) calc(var(--size-bezel) * 0.5);
    margin: calc(var(--size-bezel) * 0.5 + 3px) calc(var(--size-bezel) * 0.5);
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: var(--color-background);
    transition: transform 120ms ease-in;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
    max-width: 100%;
}

.inputField {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1.25px;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    background: transparent;
    border-radius: var(--size-radius);
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.focused {
    transform: translate(0.25rem, -65%) scale(0.8);
    background-color: white;
    z-index: 1;
}

.inputField:disabled {
    filter: grayscale(100%);
    opacity: 0.5;
    cursor: not-allowed;
}
